html {
  font-size: 12px; /* px 意为“像素（pixels）”: 这个基础字体的尺寸现在是10像素  */
  font-family: 'Concert One', cursive;
  background-color: #30A3A8;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #DC97AF;
  padding: 0 20px 20px 20px;
  border: 5px solid white;
}

h1 {
   margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 1px 3px white;
}

p, li {
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
}

