html {
  font-size: 12px; /* px 意为“像素（pixels）”: 这个基础字体的尺寸现在是10像素  */
  font-family: 'Comfortaa', cursive;
  background-color: #C2A2B1;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: 632037;
  padding: 0 100px 500px 100px;
  border: 2px solid white;
}

h1 {
   margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 1px 3px white;
}

p, li {
  line-height: 1;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
}

